form(action="http://localhost:3040/auth/changepassword/#{id}", method="post")
    div.input
        span.label Password
        input(type="text", name="password")
    div.actions
        input(type="submit", value="Change")